node_modules
.next/
out/
build/
backend/venv/
backend/.env
backend/__pycache__/
backend/app/__pycache__/
backend/app/models/__pycache__/
backend/app/routers/__pycache__/
backend/app/dependencies/__pycache__/
backend/app/services/__pycache__/
backend/app/utils/__pycache__/
*.tsbuildinfo
next-env.d.ts
.env*.local
.vercel
serviceAccountKey.json
backend/serviceAccountKey.json
